:root {
	--color-dark-gray: #10100e;
	--color-yellow: #ffff00;

	--spacing-medium: 15px;

	--border-radius-small: 5px;

	--font-size-header: 24px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-dark-gray);
}
